[submodule "ext/libsoloscuro"]
	path = ext/libsoloscuro
	url = git@github.com:dsoageofheroes/libsoloscuro.git
[submodule "ext/zorx"]
	path = ext/zorx
	url = git@github.com:PauloftheWest/zorx.git
[submodule "ext/lua"]
	path = ext/lua
	url = https://github.com/lua/lua.git
